<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <div class="box">
                            <video id="bg-video" src="images/bgVideos.mp4" loop muted autoplay>
                            </video>

                            <div class="container">
                                <div class="top">
                                    <header>Login</header>
                                </div>

                                <form class="login-form" action="/login" method="POST">
                                    <div class="form-control input-field">
                                        <input
                                            class="input <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                            type="email" name="email" id="email" value="<%= oldInput.email %>"
                                            placeholder="e-mail">
                                        <i class='bx bx-user'></i>
                                    </div>
                                    <div class="form-control input-field">
                                        <input
                                            class="input <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                            type="password" name="password" id="password"
                                            value="<%= oldInput.password %>">
                                        <i class='bx bx-lock-alt'></i>
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="centered">
                                        <button class="btn" type="submit">Login</button>
                                    </div>
                                </form>
                                <div class="two-col">
                                    <div class="one">
                                        <input type="checkbox" name="" id="check">
                                        <label for="check"> Lembrar-me</label>
                                    </div>
                                    <div class="two">
                                        <label><a href="/reset">Esqueceu a senha?</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </main>
            <%- include('../includes/end.ejs') %>