<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/noticia.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="noticia-form" action="/admin/<% if (editing) { %>edit-noticia<% } else { %>add-noticia<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Manchete</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= noticia.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Imagem</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <div class="form-control">
                <label for="description">Descrição</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= noticia.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= noticia._id %>" name="noticiaId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Atualizar Notícia<% } else { %>Adicionar Notícia<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>