<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= noticia.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= noticia.imageUrl %>" alt="<%= noticia.title %>">
            </div>
            <p id="detalhe"><%= noticia.description %></p>
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs', {noticia: noticia}) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>