<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/noticia.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let noticia of prods) { %>
                            <article class="card noticia-item">
                                <header class="card__header">
                                    <h1 class="noticia__title">
                                        <%= noticia.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= noticia.imageUrl %>" alt="<%= noticia.title %>">
                                </div>
                                <div class="card__content">
                                   
                                    <p class="noticia__description">
                                        <%= noticia.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/noticias/<%= noticia._id %>" class="btn">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {noticia}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                    <% } else { %>
                        <h1>No Noticias Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>